<div>
    <h2 id="page-heading">
        <span>Speises</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-speise" [routerLink]="['/speise/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Speise
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="speises">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Bezeichnung</span></th>
            <th><span>Preis</span></th>
            <th><span>Beschreibung</span></th>
            <th><span>Kundenid</span></th>
            <th><span>Speisekartenid</span></th>
            <th><span>Speisekarte</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let speise of speises ;trackBy: trackId">
                <td><a [routerLink]="['/speise', speise.id, 'view' ]">{{speise.id}}</a></td>
                <td>{{speise.bezeichnung}}</td>
                <td>{{speise.preis}}</td>
                <td>{{speise.beschreibung}}</td>
                <td>{{speise.kundenid}}</td>
                <td>{{speise.speisekartenid}}</td>
                <td>
                    <div *ngIf="speise.speisekarte">
                        <a [routerLink]="['../speisekarte', speise.speisekarte?.id, 'view' ]" >{{speise.speisekarte?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/speise', speise.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/speise', speise.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'speise/'+ speise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
